<div class="row">
  <div class="col s12 ">
    <div class="card-panel brown">
      <h5 class="white-text m1"> {{brand}} </h5>
      <span class="white-text">Style: {{style}}. Brewed by {{brewerName}}. Created {{brewDate}}.
      </span>
      </br>
      <a href="/stage{{this.stage}}/{{this.id}}"><button data-stage="{{this.stage}}" class="edit-btn right btn-large green">Edit</button></a> 
    </div>
  </div>
</div>